.tab-container {

    .child-wrapper {
        display: flex;
    }

    // display: flex;
    .tab {
        padding: 2px 5px;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: propmt;
        color: #222222;
        opacity: 30%;


    }

    .tab.active {
        font-weight: 600;
        color: #222222;
        opacity: 100%;

    }

    .indicator {
        width: 96px;
        height: 2px;
        background-color: var(--border-color);
        margin-top: 2px;
    }

    .tab-content{
        padding-top:20px;
    }
}

@media (max-width: 768px) {
    .child-wrapper {
        padding: 0px 24px;
    }

    .tab {
        font-weight: 700;
        color: #FFFFFF !important;
    

    }

    .tab.active{
        font-weight: 700;
        color: #FFFFFF !important;
    }
}