

.sidebar{
    width: 340px;
    height: 770px;
    border: 1px #ccc solid ;
    background-color: var(--primary-color);
    padding: 48px 40px 0px 48px;

    .moto{
        margin-top: 19px;
        color: #FFFFFF;
        opacity: 0.3;
        font-size: 15px;
        margin-bottom: 80px;
    }

    .nav-link{
        color:#FFFFFF;
        font-size: 16px;
        display: flex;
        margin-bottom: 60px;
        img {
            margin-right: 16px;
        }
    }
}


@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}