:root {
    --primary-color: #0C365A;
    --secondary-color: #01D167;
    --accent-color: #325BAF;
    --border-color: #23CEFD;
    --bg-accordion: #EDF3FF;
    --bs-accordion-btn-icon-main: url('../public/down-arrow.svg') !important;
    --bs-accordion-btn-active-main: url('../public/up-arrow.svg') !important;

    // $accordion-button-icon: url('./down-arrow.svg') !important;
    // $accordion-button-active-icon: url('./up-arrow.svg') !important;


}


.pilot {
    display: flex;

    .contents {
        padding: 60px 60px 0px 60px;
        // background-color: #FFFFFF;
        // width: 100%;
    }

}


@media (max-width: 768px) {
    .contents {
        padding: 0px !important;
        background-color: #0C365A;
    }

    .pilot {
        display: block !important;
    }
}


//Overriding for scroll

@media (max-width: 768px) {
    .action-item-wrapper {
        position: absolute;
        z-index: 5;
        top: 547px;
    }

    .card_transaction {
        position: absolute;
        width: 100%;
        z-index: 5;
        top: 662px;
    }

    .carousel{
        position: fixed;
        top: 190px;
    }

    .child-wrapper{
        position: fixed;
    }

    .balance{
        position: fixed;
    }

    .add_card{
        position: fixed;
        right: 24px;
    }

    .mobile_logo{
        margin-bottom: 27px !important;
        img{
            position:fixed;
        }
    }

}